#ContProductAdm .iconoExit{
    width: 30px;
    height: 30px;
    color: #738d88;
    cursor: pointer;
    box-sizing: content-box;

}
#ContProductAdm .iconoExit:hover{
    color: #034e3f;
    width: 40px;
    height: 40px;
}