#ContCrear {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #ContCrear div {
    margin-bottom: 15px;
  }
  
  #ContCrear .label1 {
    padding-inline-end: 20px;
  }
  #ContCrear .label2 {
    padding-inline-end: 122px;
  }
  #ContCrear .label3 {
    padding-inline-end: 88px;
  }
  #ContCrear .label4 {
    padding-inline-end: 126px;
  }
  #ContCrear .label5 {
    padding-inline-end: 68px;
  }
  #ContCrear input{
    width: 178px;
    height: 20px;
  }
  #ContCrear select{
    width: 180px;
    height: 25px;
  }
  #ContCrear button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
  }