#ContModificar {
    display: grid;
    width: 500px;
    margin: 100px auto;
    height: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#ContModificar .titulo-Id {
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ContModificar .searchId {
    display: flex;
    align-items: center;
    margin: 6px;
    height: 45px;
}
#ContModificar .searchId input{
    width: 100px;
    height: 25px;
    background-color: rgb(170, 220, 203);
    border: 0;

}

#ContModificar .searchId .lupaSearch {
    font-size: 40px;
    cursor: pointer;
    color: rgb(114, 191, 165);

}
#ContModificar .searchId .lupaSearch:hover {
    box-sizing: content-box;
    font-size: 45px;
    color: rgb(40, 136, 104);

}

#ContModificar div {
    margin-bottom: 15px;
}

#ContModificar .label1 {
    display: flex;
    justify-content: space-between;
}

#ContModificar input {
    width: 178px;
    height: 20px;
}

#ContModificar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
}
#ContModificar label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
#ContModificar .label1 select{
    width: 250px;
    height: 25px;
    white-space:0
}
#ContModificar .label1 input{
    width: 247px;
    height: 21px;
}